<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhK1bP4nK7iKAa4dcoWB6t-pHq-D-w5OI</string>
	<key>GCM_SENDER_ID</key>
	<string>1024917166067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.services.smartservant</string>
	<key>PROJECT_ID</key>
	<string>smart-servant-project</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-servant-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024917166067:ios:ba06effdf4ea233393a486</string>
</dict>
</plist>